@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://use.fontawesome.com/releases/v5.13.1/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif|Work+Sans|Pacifico");

//////////Global Styles//////////

//Variables//
@import"variables";
$size__site_content_width: 1024px;

*{
    box-sizing: border-box;
}
body{max-width: 100vw; overflow-x: hidden; overflow-y: scroll;}

html.sr .load-hidden {
    visibility: hidden;
}

.main-padding{
    margin:0;
    text-align: center;
}

//Font//
.large-title{
    font-family: 'Noto Serif', serif;
    color: $font_color_light;
    font-size: 10vh;
}

.large-subhead{
    font-family:'Work Sans', sans-serif;
    color: $font_color_light;
    font-weight: 100 !important;
}

.medium-title{
    font-family: 'Noto Serif', serif;
    color: $font_color_dark;
    font-size: 30px;
}

p{
    font-family:'Work Sans', sans-serif;
    color:#6D6E71;
    font-weight: 100;
}
.dark-large-title{
    font-family: 'Noto Serif', serif;
    color: $font_color_dark;
    font-size: 10vh;
}

.dark-large-subhead{
    font-family:'Work Sans', sans-serif;
    color: $font_color_dark;
    font-weight: 100 !important;
}
//////////Mobile Version/////////

@media only screen and (max-width: 500px){
    .large-subhead{
        font-family:'Work Sans', sans-serif;
        color: $font_color_light;
        font-weight: 100 !important;
        font-size: 18px;
        padding-top: 20px;
    }
    .dark-large-subhead{
        font-family:'Work Sans', sans-serif;
        color: $font_color_dark;
        font-weight: 100 !important;
        font-size: 18px;
        padding-top: 20px;
    }

    .medium-title{
        font-family: 'Noto Serif', serif;
        color: $font_color_dark;
        font-size: 20px;
    }

    p{
        font-family:'Work Sans', sans-serif;
        color:#6D6E71;
        font-weight: 100;
        font-size:12px !important;
    }

    body{max-width: 100vw; overflow-x:hidden;}

    header{max-width: 100vw; overflow-x:hidden;}
    
    #hamburger{
        display: grid;
        position: absolute;
        top: 20px;
        z-index: 99;
        align-self: center;
        img{
            height:5vh;
            align-self: center;}
    }

    li #hamburger-close{
        display: grid;
        align-self: center;
        justify-self: center;
        padding-top:30px;
        img{
            height:2vh;
            align-self: center;}
    }

    .container{max-width: 100vw; overflow-x:hidden;margin:0; padding:0;}
    
    .dropdown-content{display:none; visibility: hidden;}
    
    .container .header-grid{
        display:none;
        position:absolute;
        top: 0px;
        height:100vh;
        z-index: 96;
        nav{
            align-self: center;
            justify-self: center;
            display: flex;

            ul{
                align-self: center;
                position:absolute;
                top:0px;
                display:grid;
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
                padding:0px;
                background-color:black;
                width:100vw;
                list-style-type: none;
                height:100vh;
                align-items: center;
                justify-items: center;
                
                li{
                    align-self: center;
                    justify-self: center;
                    align-content: center;
                    justify-content: center;
                    height:5vh;
                    width:100%;
                    display:grid;
                    grid-template-columns: 1fr;
                    opacity: 100%;
                    
                    hr{
                        width: 25vw;
                        border-bottom:1px solid white;
                    }

                    a{
                        text-decoration: none;
                        font-family:'Work Sans', sans-serif;
                        font-size: 20px;
                        align-self: center;
                        justify-self: center;
                        text-align: center;
                        text-justify: center;
                        color:$font_color_light;
                    }
                    #mobile-menu-head{
                        align-self: center;
                        justify-self: center;
                        align-content: center;
                        width:100vw;
                        height:100%;
                        #logo{
                            position:absolute;
                            top: 30px;
                            left: 30px;
                            padding:0px;
                            width: 60vw;
                        }
                        #hamburger-close{
                            position:absolute;
                            top: 30px;
                            right: 30px;
                            padding: 0px;
                        }
                    }
                    #mobile-socials{
                        border-top: 1px solid white;
                        display: grid;
                        width:25vw;
                        grid-template-columns: 1fr 1fr 1fr;
                        align-self: center;
                        justify-self: center;
                        padding-bottom:30px;
                        img{
                        width:5vw;
                        align-self: center;
                        justify-self: center;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        }
                    }
                } 
            }
        }

    }
    .socials img{
        display:none;
        visibility: hidden;}

    
    .splash{
        background-image: url("https://chi01pap001files.storage.live.com/y4mPt-E2haeetuglafTN95Q5vCF9MCFVRLmwUjgP94Gi2d2DLn74XBaiuTU4o17HudxhqhCH55mIyvZiireKFJi-dFt-cHc-g-Cj8UgYTgIOuQVKketFWII9lyvQqQzjkkk2uPCt05hnTObvXURwHdDtN-CkQMjiTACmckNOvXIp_1VxWj3EX5_qwLqoM5904T2?width=2558&height=1252&cropmode=none");
        background-size:auto;
        width:100vw;
        color:#fff;
        overflow-x: hidden; 
        display:grid;
        overflow-x:hidden;
    }
    
    .splashitems{
        width:100vw;
        height:100vh;
        align-self: center;
        justify-self: center;
        text-align: center !important;
        display:flex;
        flex-direction:column;
        margin:0;
        z-index:2;
        align-content: center;
        justify-content: center;
        overflow-x: hidden;
        h1{font-size: 7vh !important; justify-self: center; align-self: center; max-width:70vw;}
        h4{justify-self: center; align-self: center; max-width:50vw;}
        div{
            max-width: fit-content;
            align-self: center;
            justify-self: center;
            #scroll-button{
                margin-top: 100px;
                justify-self: center;
                align-self: center;
                width:10vw; 
            }
        }
    }

    .index-grid{
        display: grid;
        grid-template-columns: 1fr;
        height:fit-content;
        width:100vw;
        align-items:center;
        justify-items: center;
        background-color: #F9F9FA;
    
        a #gallery{
            width:90vw;
            margin-bottom:4vh;
            margin-top: 8vh;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            transition:0.4s all ease;
        }
    
        a #gallery:hover{
            box-shadow: rgba(0, 0, 0, 1) 10px 10px 13px;
            width:91vw;
        }
    
        a #about{
            width: 90vw;
            margin-top:4vh;
            margin-bottom:8vh;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            transition:0.4s all ease;
        }
    
        a #about:hover{
            box-shadow: rgba(0, 0, 0, 1) 10px 10px 13px;
            width: 91vw;
        }
    }

    footer{
        .footer-grid{
            display: grid;
            grid-auto-flow: row;
            grid-template-rows: 2fr;
            width: 100vw;
            align-items: center;
            background-color: rgb(43, 43, 43);
            margin-left: 0px;
            margin-right: 0px;
            justify-self:center;
            
            div{
                justify-self:center;
                max-width: 100vw;
                overflow:hidden;
                img{
                    margin-top:50px;
                    width: 40px;
                    padding-left:10px;
                    padding-right:10px;
                    transition: .4s all ease;
                }
                p{
                    margin-bottom:50px;
                    color: $font_color_light;
                    font-kerning: 4px;
                    font-size: 18px;
                    font-weight: 100;
                    padding-top: 4px;
                }
            }
        }
    }
}

/////////////////Page Styles///////////////
@import "about";
@import "contact";
@import"gallery";
@import"123";
@import"canvas";
@import"mus";
@import"slate";
@import"art";
@import"experiencewa";
@import"airbnb";

///////////////Desktop Version////////////// 
@media only screen and (min-width: 500px){
//Navigation//
#hamburger{display: none; visibility: hidden;}

#hamburger-close{display: none; visibility: hidden;}

.hide-xl{display:none; visibility: hidden;}

.header-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
    z-index: 99;
    width:100vw;
    justify-items: stretch;
    nav{ 
        ul{
            background-color: transparent;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 20px;
            margin: 0;
            padding: 0;
            list-style: none;
            align-items: right;
            z-index: 99;
        }
        
        .non-drop{
            text-align: right;
            justify-self: right;
            padding-top: 25px;
            a{
                transition: .4s all ease;
                text-decoration: none;
                color: $font_color_light;
                font-family:'Work Sans', sans-serif;
                font-size: 20px;
                border-bottom: 0px white;
            }
            a:hover{
                color: $font_color_light;
                opacity: 70%;
                text-decoration: underline;
            }
        }
        
        .dropdown{
            padding-top: 25px;
            text-align: right;
            justify-self: right;
            a{
                transition: .4s all ease;
                text-decoration: none;
                color: $font_color_light;
                font-family:'Work Sans', sans-serif;
                font-size: 20px;
            }
            a:hover{
                color: $font_color_light;
                opacity: 70%;
                text-decoration: underline;
            }
        }
        
        .dropdown-btn{
            justify-content: right;
            display: flex;
            a{
                justify-self: right;
                text-align: right;
            }
        }
        
        .dropdown-content{
            text-justify:center;
            display: none;
            position: absolute;
            background-color: $font_color_dark;
            min-width: 150px;
            min-height: 200px;
            z-index: 2;
            border: 1px solid white;
            padding-top:20px;
            padding-bottom: 20px;
            margin-left:-50%;
            margin-right:50%;
            a{
                transition: .4s all ease;
                color: $font_color_light;
                font-size: 16px;
                padding: 10px;
                text-decoration: none;
                display: block;
                text-align: center;
            }
        }
    }
    
}

.dropdown:hover .dropdown-content {
    display: block;}


///Social Media Icons///
.socials img{
    height:50px;
    padding-top:25px;
    padding-right: 30px;
    transition: .4s all ease;
}

.socials img:hover{
    height:51px;
    opacity: 70%;
}

///Splash Page Image///
.splash{
    background-image: url("https://chi01pap001files.storage.live.com/y4mPt-E2haeetuglafTN95Q5vCF9MCFVRLmwUjgP94Gi2d2DLn74XBaiuTU4o17HudxhqhCH55mIyvZiireKFJi-dFt-cHc-g-Cj8UgYTgIOuQVKketFWII9lyvQqQzjkkk2uPCt05hnTObvXURwHdDtN-CkQMjiTACmckNOvXIp_1VxWj3EX5_qwLqoM5904T2?width=2558&height=1252&cropmode=none");
    background-size:cover;
    height:100vh;
    width:100vw;
    color:#fff;
    display: flex;
}

.splashitems{
    padding-top: 30vh;
    padding-bottom: 20vh;
    max-width:100vw;
    height:100vh;
    align-self: center;
    justify-self: center;
    text-align: center !important;
    display:flex;
    flex-direction:column;
    margin:0;
    z-index:2;
    align-content: center;
    div{
        #scroll-button{
            margin-top: 210px;
            justify-self: center;
            align-self: center;
            width:4vw;
            transition-property: width;
            transition-duration: 0.6s;
        }
        #scroll-button:hover{
            cursor: pointer;
            width:5vw;
        }   
    }
}

//Main Section//

.index-grid{
    display: grid;
    grid-template-columns: 1fr;
    height:fit-content;
    width:100vw;
    align-items:center;
    justify-items: center;
    background-color: #F9F9FA;

    a #gallery{
        width:60vw;
        margin-bottom:65px;
        margin-top: 130px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        transition:0.4s all ease;
    }

    a #gallery:hover{
        box-shadow: rgba(0, 0, 0, 1) 10px 10px 13px;
        width:61vw;
    }

    a #about{
        width: 60vw;
        margin-top:65px;
        margin-bottom:130px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        transition:0.4s all ease;
    }

    a #about:hover{
        box-shadow: rgba(0, 0, 0, 1) 10px 10px 13px;
        width: 61vw;
    }
}

//Footer//

footer{
    .footer-grid{
        display: grid;
        grid-auto-flow: row;
        grid-template-rows: 2fr;
        width: 100vw;
        justify-items: stretch;
        align-items: center;
        background-color: rgb(43, 43, 43);
        margin-left: 0px;
        margin-right: 0px;
        justify-self:center;
        
        div{
            justify-self:center;
            img{
                margin-top:50px;
                width: 40px;
                padding-left:10px;
                padding-right:10px;
                transition: .4s all ease;
            }
            img:hover{
                width:41px;
                opacity: 70%;
            }
            p{
                margin-bottom:50px;
                color: $font_color_light;
                font-kerning: 4px;
                font-size: 18px;
                font-weight: 100;
                padding-top: 4px;
            }
        }
    }
}

//carousel/
section{
    display:grid;
    max-width:1920px;
    margin: 0 auto;
    .carousel{
        align-self: center;
        position: relative;
        height:900px;
        width: 80%;
        margin: 0 auto;
        padding-top:100px;
        padding-bottom:200px;
        
        .carousel-img{
            width: 100%;
            height:100%;
            object-fit:cover;
    
        }
    
        .carousel-container{
            background-color:#F9F9FA;
            height:100%;
            position: relative;
            overflow: hidden;
        }
    
        .carousel-track{
            padding:0;
            margin:0;
            list-style-type: none;
            position:relative;
            height:100%;
            transition: transform 250ms ease-in;
        }
    
        .carousel-slide{
            position:absolute;
            top:0;
            bottom:0;
            width:100%;
        }
        .carousel-btn{
            position: absolute;
            top:50%;
            transform: translateY(-50%);
            background: transparent;
            border:0;
            cursor: pointer;
        }
    
        .carousel-btn--left{
            left: -40px;
        }
    
        .carousel-btn--right{
            right: -40px;
        }
    
        .carousel-btn img{
            width: 12px;
        }
    
        .carousel-nav{
            background: transparent;
            display:flex;
            justify-content:center;
            padding: 10px 0;
        }
    
        .carousel-indicator{
            border:0;
            border-radius:50%;
            width: 12px;
            height:12px;
            background:rgba(0,0,0,.3);
            margin: 0 8px;
            cursor: pointer;
            
        }
        .carousel-indicator.current-slide{
            background: rgba(0,0,0,.75);
        }
    }
    }
}

