@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://use.fontawesome.com/releases/v5.13.1/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif|Work+Sans|Pacifico");

//////////Global Styles//////////

//Variables//
@import"variables";
$size__site_content_width: 1024px;

*{
    box-sizing: border-box;
}
body{max-width: 100vw; overflow-x: hidden; overflow-y: scroll;}

html.sr .load-hidden {
    visibility: hidden;
}

.main-padding{
    margin:0;
    text-align: center;
}

//Font//
.large-title{
    font-family: 'Noto Serif', serif;
    color: $font_color_light;
    font-size: 10vh;
}

.large-subhead{
    font-family:'Work Sans', sans-serif;
    color: $font_color_light;
    font-weight: 100 !important;
}

.medium-title{
    font-family: 'Noto Serif', serif;
    color: $font_color_dark;
    font-size: 30px;
}

p{
    font-family:'Work Sans', sans-serif;
    color:#6D6E71;
    font-weight: 100;
}

//////////Mobile Version/////////

@media only screen and (max-width: 500px){
    body{max-width: 100vw; overflow-x:hidden;}

    header{max-width: 100vw; overflow-x:hidden;}
    
    #hamburger{
        display: grid;
        position: absolute;
        top: 20px;
        z-index: 99;
        align-self: center;
        img{
            height:3vh;
            align-self: center;}
    }

    .container{max-width: 100vw; overflow-x:hidden;margin:0; padding:0;}
    
    .dropdown-content{display:none; visibility: hidden;}
    
    .container .header-grid{
        display:none;
        position:absolute;
        top: 0px;
        height:100vh;
        z-index: 96;
        nav{
            align-self: center;
            justify-self: center;
            display: flex;

            ul{
                align-self: center;
                position:absolute;
                top: 0px;
                display: grid;
                grid-template-rows: 1fr 1fr 1fr 1fr;
                padding:0px;
                background-color: rgb(17, 17, 17);
                opacity:90%;
                row-gap: 0px;
                width:100vw;
                list-style-type: none;
                height:90vh;
                align-items: center;
                justify-items: center;
                li{
                    align-self: center;
                    justify-self: center;
                    align-content: center;
                    justify-content: center;
                    height:22.5vh;
                    width:100%;
                    display:grid;
                    grid-template-columns: 1fr;
                    opacity: 100%;
                    border: 1px solid rgb(130, 199, 204);

                    a{
                        text-decoration: none;
                        font-family:'Work Sans', sans-serif;
                        font-size: 20px;
                        align-self: center;
                        justify-self: center;
                        text-align: center;
                        text-justify: center;
                        font-size:10vw;
                        color:white;
                    }
                    #hamburger-close{
                        display: grid;
                        align-self: center;
                        justify-self: center;
                        padding-top:30px;
                        img{
                            height:2vh;
                            align-self: center;}
                    }
                } 
            }
        }

    }
    .socials img{
        display:none;
        visibility: hidden;}

    
    .splash{
        background-image: url("https://ch3301files.storage.live.com/y4m8gS6sXJmvZoGeIj_O4AlSQT1LDv_9KENNVLfsd86-zV6tfuF3XYF2YDfxAWaH9TN1MlbGQliSw3Fwb5OHdAYCKwZ0hZEnk6jdFXRyD0ISTveq79LgznOp3yMiWrGnx2oXZnqp6vxZt9_Sd-LJ1wkvJNe9dYGYuRHgVw6bDf1rAErNPn2hmtgrcKbiYsUba5A?width=2558&height=1252&cropmode=none");
        background-size:auto;
        width:100vw;
        color:#fff;
        overflow-x: hidden; 
        display:grid;
        overflow-x:hidden;
    }
    
    .splashitems{
        width:100vw;
        height:100vh;
        align-self: center;
        justify-self: center;
        text-align: center !important;
        display:flex;
        flex-direction:column;
        margin:0;
        z-index:2;
        align-content: center;
        justify-content: center;
        overflow-x: hidden;
        h1{font-size: 7vh !important; justify-self: center; align-self: center; max-width:70vw;}
        h4{justify-self: center; align-self: center; max-width:50vw;}
        div{
            max-width: fit-content;
            align-self: center;
            justify-self: center;
            #scroll-button{
                margin-top: 100px;
                justify-self: center;
                align-self: center;
                width:10vw; 
            }
        }
    }
    section{
        .gallery-grid{
        margin-top:50px;
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: 1fr;
        width: 100vw;
        justify-items: stretch;
        align-items: center;
        overflow-x: hidden;

        }
            .left img{
                height: 40vh;
                align-self:center;
                justify-self: center;
                padding:0px;
                margin-left:0px;
                z-index: 1;
                margin-left: 0px;
                margin-right: 0px;
                overflow-x: hidden;
            }
            .right{
                display:grid;
                align-self:center;
                justify-self: center;
                height:20vh;
                position:absolute;
                top:10vh;
                bottom:10vh;
                opacity:80%;
                div{
                    background-color: white;
                    align-self:center;
                    justify-self: center;
                    padding:30px;
                    border-bottom: 1px solid black;
                    border-top: 1px solid black;
                    
                    a{
                        text-decoration:none;
                    }

                    h3{
                        text-align: center;
                    }
                    p{
                        text-align: center;
                    }
                }   
            }

    }

    section{
        .about-grid{
            display: none;
            }
        }

    footer{
        .footer-grid{
            display: grid;
            grid-auto-flow: row;
            grid-template-rows: 2fr;
            width: 100vw;
            align-items: center;
            background-color: rgb(43, 43, 43);
            margin-left: 0px;
            margin-right: 0px;
            justify-self:center;
            margin-top:8vh;
            
            div{
                justify-self:center;
                max-width: 100vw;
                overflow:hidden;
                img{
                    margin-top:50px;
                    width: 40px;
                    padding-left:10px;
                    padding-right:10px;
                    transition: .4s all ease;
                }
                p{
                    margin-bottom:50px;
                    color: $font_color_light;
                    font-kerning: 4px;
                    font-size: 18px;
                    font-weight: 100;
                    padding-top: 4px;
                }
            }
        }
    }
}

/////////////////Page Styles///////////////
@import "about";
@import "contact";
@import"gallery";
@import"123";
@import"canvas";
@import"mus";
@import"slate";
@import"art";

///////////////Desktop Version////////////// 
@media only screen and (min-width: 500px){
//Navigation//
#hamburger{display: none; visibility: hidden;}

#hamburger-close{display: none; visibility: hidden;}

.header-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
    z-index: 99;
    width:100vw;
    justify-items: stretch;
    nav{ 
        ul{
            background-color: transparent;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 20px;
            margin: 0;
            padding: 0;
            list-style: none;
            align-items: right;
            z-index: 99;
        }
        
        .non-drop{
            text-align: right;
            justify-self: right;
            padding-top: 25px;
            a{
                transition: .4s all ease;
                text-decoration: none;
                color: $font_color_light;
                font-family:'Work Sans', sans-serif;
                font-size: 20px;
                border-bottom: 0px white;
            }
            a:hover{
                color: $font_color_light;
                opacity: 70%;
                text-decoration: underline;
            }
        }
        
        .dropdown{
            padding-top: 25px;
            text-align: right;
            justify-self: right;
            a{
                transition: .4s all ease;
                text-decoration: none;
                color: $font_color_light;
                font-family:'Work Sans', sans-serif;
                font-size: 20px;
            }
            a:hover{
                color: $font_color_light;
                opacity: 70%;
                text-decoration: underline;
            }
        }
        
        .dropdown-btn{
            justify-content: right;
            display: flex;
            a{
                justify-self: right;
                text-align: right;
            }
        }
        
        .dropdown-content{
            text-justify:center;
            display: none;
            position: absolute;
            background-color: $font_color_dark;
            min-width: 150px;
            min-height: 200px;
            z-index: 1;
            border: 1px solid white;
            padding-top:20px;
            padding-bottom: 20px;
            margin-left:-50%;
            margin-right:50%;
            a{
                transition: .4s all ease;
                color: $font_color_light;
                font-size: 16px;
                padding: 10px;
                text-decoration: none;
                display: block;
                text-align: center;
            }
        }
    }
    
}

.dropdown:hover .dropdown-content {
    display: block;}


///Social Media Icons///
.socials img{
    height:50px;
    padding-top:25px;
    padding-right: 30px;
    transition: .4s all ease;
}

.socials img:hover{
    height:51px;
    opacity: 70%;
}

///Splash Page Image///
.splash{
    background-image: url("https://ch3301files.storage.live.com/y4m8gS6sXJmvZoGeIj_O4AlSQT1LDv_9KENNVLfsd86-zV6tfuF3XYF2YDfxAWaH9TN1MlbGQliSw3Fwb5OHdAYCKwZ0hZEnk6jdFXRyD0ISTveq79LgznOp3yMiWrGnx2oXZnqp6vxZt9_Sd-LJ1wkvJNe9dYGYuRHgVw6bDf1rAErNPn2hmtgrcKbiYsUba5A?width=2558&height=1252&cropmode=none");
    background-size:cover;
    height:100vh;
    width:100vw;
    color:#fff;
    display: flex;
}

.splashitems{
    padding-top: 30vh;
    padding-bottom: 20vh;
    max-width:100vw;
    height:100vh;
    align-self: center;
    justify-self: center;
    text-align: center !important;
    display:flex;
    flex-direction:column;
    margin:0;
    z-index:2;
    align-content: center;
    div{
        #scroll-button{
            margin-top: 210px;
            justify-self: center;
            align-self: center;
            width:4vw;
            transition-property: width;
            transition-duration: 0.6s;
        }
        #scroll-button:hover{
            cursor: pointer;
            width:5vw;
        }   
    }
}

//Main Section//

section{
        .gallery-grid{
        margin-top:50px;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 3fr 2fr;
        width: 100vw;
        justify-items: stretch;
        align-items: center;
        background-color: #F9F9FA;
        }
            .left img{
                width:60vw;
                align-self:left;
                padding-top:0px;
                padding-bottom:0px;
                margin-left:0px;
            }
            .right{
                justify-self: center;
                padding-top:50px;
                padding-bottom:50px;
                padding-right:30px;

                div{
                    margin-right:30px;
                    background-color: white;
                    align-self: center;
                    padding:50px;
                    border-bottom: 1px solid black;
                    border-top: 1px solid black;
                    
                    a{
                        text-decoration:none;
                    }

                    h3{
                        text-align: center;
                    }
                    p{
                        text-align: center;
                    }
                }   
                }

}

section{
    .about-grid{
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 2fr 3fr;
        width: 100vw;
        justify-items: stretch;
        align-items: center;
        background-color: #F9F9FA;
        margin-top: 50px;
        
        .left{
            margin:0px;
            min-width: 300px;
            justify-self: center;
            div{
                margin-left: 30px;
                background-color: white;
                max-width: 220px;
                max-height: 220px;
                align-self: center;
                padding:30px;
                border-bottom: 1px solid black;
                border-top: 1px solid black;
                
                a{
                    text-decoration:none;
                }

                h3{
                    text-align: center;
                }
                p{
                    text-align: center;
                }
            }   
        }
        .right img{
            width:30vw;
            align-self:center;
            justify-self: center;
            text-align: center;
            padding-left: 30px;
        }
    }
}

//Footer//

footer{
    .footer-grid{
        display: grid;
        grid-auto-flow: row;
        grid-template-rows: 2fr;
        width: 100vw;
        justify-items: stretch;
        align-items: center;
        background-color: rgb(43, 43, 43);
        margin-left: 0px;
        margin-right: 0px;
        justify-self:center;
        
        div{
            justify-self:center;
            img{
                margin-top:50px;
                width: 40px;
                padding-left:10px;
                padding-right:10px;
                transition: .4s all ease;
            }
            img:hover{
                width:41px;
                opacity: 70%;
            }
            p{
                margin-bottom:50px;
                color: $font_color_light;
                font-kerning: 4px;
                font-size: 18px;
                font-weight: 100;
                padding-top: 4px;
            }
        }
    }
}

//carousel/
section{
    display:grid;
    max-width:1920px;
    margin: 0 auto;
    .carousel{
        align-self: center;
        position: relative;
        height:900px;
        width: 80%;
        margin: 0 auto;
        padding-top:100px;
        padding-bottom:200px;
        
        .carousel-img{
            width: 100%;
            height:100%;
            object-fit:cover;
    
        }
    
        .carousel-container{
            background-color:#F9F9FA;
            height:100%;
            position: relative;
            overflow: hidden;
        }
    
        .carousel-track{
            padding:0;
            margin:0;
            list-style-type: none;
            position:relative;
            height:100%;
            transition: transform 250ms ease-in;
        }
    
        .carousel-slide{
            position:absolute;
            top:0;
            bottom:0;
            width:100%;
        }
        .carousel-btn{
            position: absolute;
            top:50%;
            transform: translateY(-50%);
            background: transparent;
            border:0;
            cursor: pointer;
        }
    
        .carousel-btn--left{
            left: -40px;
        }
    
        .carousel-btn--right{
            right: -40px;
        }
    
        .carousel-btn img{
            width: 12px;
        }
    
        .carousel-nav{
            background: transparent;
            display:flex;
            justify-content:center;
            padding: 10px 0;
        }
    
        .carousel-indicator{
            border:0;
            border-radius:50%;
            width: 12px;
            height:12px;
            background:rgba(0,0,0,.3);
            margin: 0 8px;
            cursor: pointer;
            
        }
        .carousel-indicator.current-slide{
            background: rgba(0,0,0,.75);
        }
    }
    }
}

